<div class="container">
    <h1>Authentification</h1>
    <form [formGroup]="formRegister" novalidate="">
        <div class="form-group ">
            <label for="exampleInputNom">Nom</label>
            <input type="text" class="form-control" placeholder="Enter votre nom" formControlName="nom" />
            <div class="form-group" *ngIf="userName.errors" [ngClass]="'was-validated'">
                <div *ngIf="userName.errors.minlength">
                    Name must be at least 5 characters long.
                </div>
                <div *ngIf="userName.errors.maxlength">
                    Name can be max 10 characters long.
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="exampleInputPrenom">Prenom</label>
            <input type="text" class="form-control" placeholder="Enter votre prenom" formControlName="prenom" />

            <div *ngIf="(userPrenom.hasError('minlength'))">
                Prenom must be at least 4 characters long.
            </div>
            <div *ngIf="userPrenom.hasError('maxlength')">
                Prenom can be max 10 characters long.
            </div>

        </div>
        <div class="form-group" [ngClass]="{'is-invalid':formRegister.controls.email.invalid,
        'is-valid':formRegister.controls.email.valid
        }">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Enter Email" formControlName="email" />
            <span>{{errorMail}}</span>
            <!--&nbsp;&nbsp; -->
            <!-- <div class="form-group" *ngIf="userEmail.errors" [ngClass]="'was-validated'">
                <div *ngIf="userEmail.errors.pattern">
                    Mail invalid.
                </div>
                
            </div> -->
            <div *ngIf="userEmail.errors?.email">
                Email not valid.
            </div>

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" placeholder="Entrer Password" formControlName="password" />
        </div>
        <div class="form-group">
            <label for="exampleInputNom">Image</label>
            <input type="file" class="form-control" placeholder="Enter votre image">
        </div>
    </form>
    <button type="button" (click)="onRegister()" class="btn btn-outline-primary btn-lg btn-block">Submit</button>
    <button type="button" class="btn btn-outline-danger btn-lg btn-block">Annuler</button>
</div>